@import "variables";

//----TEXT----
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  line-height: 42px;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: -1px;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: -0.5px;
}
.section-heading {
  h2 {
    color: $default-dark;
  }
  p {
    color: $mixed-grey;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
}
.headline-blue {
  color: $default;
}
img {
  max-width: 100%;
  display: block;
}

//----BUTTONS----
.button {
  background-color: $default;
  color: $white !important;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.btn-rounded {
  .button {
    background-color: $default;
    color: $white !important;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  padding: 0 30px;
  border-radius: 30px;
  line-height: 45px;
  display: inline-block;
}
.btn-filled {
  border-radius: 2px;
  line-height: 50px;
  height: auto;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 30px;
}
.btn-glued {
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}

//----SLICK LIB----
.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  padding: 0;
  font-size: 0;
  border: none;
  background-color: rgba(255,255,255, 0.3);
  z-index: 1;
  outline: none;
  width: 40px;
  border-radius: 50%;
  transition: 0.2s;
  &:hover {
    background-color: $default;
    &:before {
      color: $white;
    }
  }
  &:before {
    font-family: 'Font Awesome 6 Free', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: $default-dark;
    transition: 0.2s;
  }
  &.slick-prev {
    left: 20px;
    &:before {
      content: '\f104';
    }
  }
  &.slick-next {
    right: 20px;
    &:before {
      content: '\f105';
    }

  }
  &:focus {
    outline: none;
  }
}
.slick-dots {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  li:not(:last-child) {
    margin-right: 5px;
  }
  .slick-active {
    button {
      position: relative;
      border-width: 2px;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: $default-dark;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
      }
    }
  }
  button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $default-dark;
    border-radius: 50%;
    display: block;
    background-color: transparent;
    outline: none;

    &:hover {
      border-width: 2px;
    }
  }
}

//---COMPONENTS----
.subscribe-form {
  width: 100%;
  display: flex;
  position: relative;
  input {
    background-color: rgba(255,255,255,0.1);
    border: none;
    color: $white;
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-right: 140px;
    border-radius: 2px;
    outline: none;
    &::placeholder {
      color: $light-grey;
    }
  }
  .btn-filled {
    position: absolute;
    top: 0;
    right: 0;
  }
}
blockquote {
  background-color: $light-grey;
  padding: 40px;
  border-left: 4px solid $default;
  margin: 30px 0;
  p, .quoter {
    font-size: 18px;
    color: $default-dark;
  }
  .quoter {
    font-family: 'Poppins', serif;
  }
}

.nav-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  transition: 0.3s;
  &.scrolled {
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgb(16 16 16 / 8%);

    .nav li a {
      color: $default-dark !important;
    }
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    &-brand {
      img {
        max-height: 60px;
      }
      h2 {
        color: $default-dark;
        margin: 0;
      }
    }
  }
  &__menu {
    &_mobile {
      display: none;
      font-size: 20px;
    }
    .nav {
      li a {
        font-family: "Work Sans", serif;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        letter-spacing: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 80px;
        z-index: 1;
        transition: 0.3s;
        &.active, &:hover {
          color: #fff;
          transition: 0.3s;
        }
      }
    }
  }
  &__menu-wrap {
    display: flex;
    .header-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.pagination-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  li {
    margin-right: 10px;
    a {
      border: 1px solid $light-grey-2;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 38px;
      text-align: center;
      color: $default-dark;
      font-weight: 600;
      border-radius: 2px;
      transition: 0.2s;
      &.active {
        background-color: $default;
        color: $white;
        border-color: $default;
      }
      &:hover {
        border-color: $default;
      }
    }
  }
}
.breadcrumb {
  background-color: $light-grey;
  &-item a {
    color: $default-dark;
  }
}

footer {
  background-color: $default-light;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer {
  &__padding {
    padding: 100px 0;
  }
  &-content {
    p {
      color: $default-dark;
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 15px;
    }
    img {
      margin-bottom: 20px;
    }
    h4 {
      color: $default-dark;
    }
    h2 {
      color: $light-grey;
    }
  }
  &-links a, &-content span {
    color: $default-dark;
    line-height: 1.9;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
  &-social {
    display: flex;
    flex-wrap: wrap;
    li a {
      margin-right: 10px;
      background-color: $light-grey;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      font-size: 16px;
      text-align: center;
      color: $default-dark;
      display: inline-block;
    }
  }
  &-bottom {
    display: block;
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid $default-dark-1;
    p {
      font-size: 12px;
      color: $default-dark;
      margin: 0;
    }
  }
}
@media (max-width: 768px) {
  .nav-header {
    .nav-header__menu_mobile {
      display: block;
    }
    .navbar {
      padding: 20px;
    }
    &__menu-wrap {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 20px;
      .nav-header__menu ul {
        flex-direction: column;
        li a {
          font-size: 16px;
          line-height: 36px;
        }
      }
    }
    &.fold {
      background-color: white;
      .nav-header__menu-wrap {
        display: flex;
      }
    }
  }
}

.projects__slide img {
  height: 200px;
}