@import "../fonts/fontawesome/css/all.css";
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-ExtraLight.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans/WorkSans-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 42px;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: -1px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: -0.5px;
}

img {
  max-width: 100%;
  display: block;
}

.btn-rounded {
  background-color: #2e78ff;
  color: white !important;
  padding: 0 30px;
  border-radius: 30px;
  line-height: 45px;
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}
.btn-rounded:hover {
  text-decoration: none;
}

.btn-filled {
  background-color: #2e78ff;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  color: white !important;
  font-size: 12px;
  border-radius: 2px;
  line-height: 50px;
  height: auto;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 30px;
  border: none;
  cursor: pointer;
}

.btn-glued {
  width: 100%;
  background-color: #2e78ff;
  border: none;
  outline: none;
  color: white;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.section-heading h2 {
  color: #204163;
}
.section-heading p {
  color: #8495a7;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.headline-blue {
  color: #2e78ff;
}

.subscribe-form {
  width: 100%;
  display: flex;
  position: relative;
}
.subscribe-form input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  padding: 10px;
  padding-right: 140px;
  border-radius: 2px;
  outline: none;
}
.subscribe-form input::placeholder {
  color: #ddd;
}
.subscribe-form .btn-filled {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  transition: 0.3s;
}
.nav-header.scrolled {
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(16, 16, 16, 0.08);
}
.nav-header .navbar {
  padding: 0;
}
.nav-header__menu .nav li a {
  font-family: "Work Sans", serif;
  color: #204163;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 80px;
  z-index: 1;
  transition: 0.3s;
}
.nav-header__menu .nav li a.active, .nav-header__menu .nav li a:hover {
  color: #2e78ff;
  transition: 0.3s;
}
.nav-header__menu-wrap .header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-sct {
  background-image: url("../images/hero-bg-1.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.homestage {
  height: 100%;
}
.homestage .slick-list {
  height: 100%;
}
.homestage__slide img {
  height: 100%;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  padding: 0;
  font-size: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  outline: none;
  width: 40px;
  border-radius: 50%;
  transition: 0.2s;
}
.slick-arrow:hover {
  background-color: #2e78ff;
}
.slick-arrow:hover:before {
  color: white;
}
.slick-arrow:before {
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #204163;
  transition: 0.2s;
}
.slick-arrow.slick-prev {
  left: 20px;
}
.slick-arrow.slick-prev:before {
  content: "\f104";
}
.slick-arrow.slick-next {
  right: 20px;
}
.slick-arrow.slick-next:before {
  content: "\f105";
}
.slick-arrow:focus {
  outline: none;
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
.slick-dots li:not(:last-child) {
  margin-right: 5px;
}
.slick-dots .slick-active button {
  position: relative;
  border-width: 2px;
}
.slick-dots .slick-active button:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #204163;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}
.slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #204163;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  outline: none;
}
.slick-dots button:hover {
  border-width: 2px;
}

.about {
  padding: 100px 0;
}

.stack {
  padding: 50px 0;
  background-color: #fbfbff;
}
.stack__item {
  text-align: center;
  padding: 40px;
  display: block;
  transition: 0.2s;
}
.stack__item:hover {
  text-decoration: none;
  box-shadow: 0 8px 22px -5px #ddd;
  background-color: white;
}
.stack__item .stack__icon_wrap {
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
}
.stack__item .stack__icon_wrap svg {
  padding: 20px;
}
.stack__item.theme-red i, .stack__item.theme-red h3 {
  color: #ff4c4c;
}
.stack__item.theme-red svg path {
  fill: #ff4c4c;
}
.stack__item.theme-red .stack__icon_wrap {
  background-color: rgba(255, 76, 76, 0.1);
}
.stack__item.theme-blue i, .stack__item.theme-blue h3 {
  color: #0099e5;
}
.stack__item.theme-blue svg path {
  fill: #0099e5;
}
.stack__item.theme-blue .stack__icon_wrap {
  background-color: rgba(0, 153, 229, 0.1);
}
.stack__item.theme-green i, .stack__item.theme-green h3 {
  color: #36bca1;
}
.stack__item.theme-green svg path {
  fill: #36bca1;
}
.stack__item.theme-green .stack__icon_wrap {
  background-color: rgba(10, 191, 83, 0.1);
}
.stack__item.theme-yellow i, .stack__item.theme-yellow h3 {
  color: #ffdd00;
}
.stack__item.theme-yellow svg path {
  fill: #ffdd00;
}
.stack__item.theme-yellow .stack__icon_wrap {
  background-color: rgba(255, 221, 0, 0.2);
}
.stack__item.theme-purple i, .stack__item.theme-purple h3 {
  color: #a560e8;
}
.stack__item.theme-purple svg path {
  fill: #a560e8;
}
.stack__item.theme-purple .stack__icon_wrap {
  background-color: rgba(165, 96, 232, 0.1);
}
.stack__item.theme-orange i, .stack__item.theme-orange h3 {
  color: #f76b1c;
}
.stack__item.theme-orange svg path {
  fill: #f76b1c;
}
.stack__item.theme-orange .stack__icon_wrap {
  background-color: rgba(255, 121, 0, 0.1);
}

.projects {
  padding: 100px 0;
}
.projects__slide {
  margin: 15px;
  box-shadow: 0 5px 10px 0 #ddd;
  transition: 0.2s;
}
.projects__slide img {
  margin-bottom: 10px;
}
.projects__slide h3 {
  color: #204163;
}
.projects__slide:hover {
  box-shadow: 0 5px 15px 5px #ddd;
}
.projects__slides {
  padding-bottom: 50px;
}
.projects__slides a:hover {
  text-decoration: none;
}
.projects__slides .slick-arrow {
  top: -50px;
}
.projects__slides .slick-arrow.slick-prev {
  left: calc(100% - 116px);
}

.contact {
  background-image: url(../images/satellite-map.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  color: #204163;
  padding: 100px 0;
}
.contact .form-horizontal input, .contact .form-horizontal textarea {
  background-color: white;
  border-radius: 0;
  padding: 15px 10px;
  box-shadow: none;
  border: 2px solid #eee;
  height: auto;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
}
.contact .form-horizontal input::placeholder, .contact .form-horizontal textarea::placeholder {
  color: #d2d2d2;
}
.contact p {
  color: #8495a7;
}

footer {
  background-color: #0c0829;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__padding {
  padding: 100px 0;
}
.footer-content p {
  color: #ddd;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 15px;
}
.footer-content img {
  margin-bottom: 20px;
}
.footer-content h4 {
  color: white;
}
.footer-links a, .footer-content span {
  color: #ddd;
  line-height: 1.9;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
}
.footer-social li a {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  color: white;
  display: inline-block;
}
.footer-bottom {
  display: block;
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bottom p {
  font-size: 12px;
  color: #ababc7;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
